{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>[CODEX]</title>

	<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

	<link rel="icon" type="image/png" href="{% static 'images/codexlogo.png' %}">
	<link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href='{% static "css/bootstrap.min.css" %}'>
</head>
<body style="background-color: #eee">
	<style>
		.navbar
		{
			height: 4rem;
			font-size: 2rem;
			color: white;
			background-color: #5e56d5;
		}
		ul
		{
			margin-left: -2rem;
		}

		li
		{
			list-style-type: none;
		}
		.card-header
		{
			background-color: #568ed5;
			height: 3rem;
			font-family: Tahoma;
			color: #ffffff;
		}
		.card
		{
			box-shadow: 10px 10px 5px #888888;
		}
	</style>

	<nav class="navbar sticky-top navbar-dark">
		<b>CODEX</b><span class="badge badge-info">Season 2</span>
	</nav>

	<div class="alert alert-info" role="alert">
  List of all contributions of <a class="btn btn-outline-info" href="http://github.com/codex-iter/">CODEX</a> members
	</div>

	{% block content %}{% endblock %}
	
</body>
</html>