{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>[CODEX]</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body style="background-color: #eee">
	<nav class="navbar sticky-top navbar-dark" style="height: 4rem; font-size: 2rem; color: white; background-color: #5a5255">
		<b>C O D E X - Season 2</b>
	</nav>
	{% block content %}{% endblock %}
	
</body>
</html>