<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Codex</title>
  <link rel="stylesheet" media="all" href="static/css/style.css" data-turbolinks-track="true">
  <link rel="icon" type="image/png" href="static/images/logo.png">

</head>
<body>
  <div class="wrap">
    <nav class="navbar navbar-custom navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a id="logo" class="navbar-brand" href="https://github.com/codexiter">CODEX</a>
    </div>
  </div>
</nav>

<div class="jumbotron vertical-align">
  <div class="container-fluid buffer-top">
    <div class="row">
      <div class="col-md-12 text-center">
        <img alt="Codex logo" src="static/images/logo.png" class="img-responsive vertical-align" id="main-logo">
      </div>
    </div>
  </div>
</div>


<div class="container content">
  <div class="row">
      <h1 id="member" class="text-center buffer-bottom">Members</h1>
      <hr>
      {% for member in context %}
      <div class="col-sm-6 col-md-3">
        {% if context.index(member) == 0 %}
            <img src="static/images/crown.png" alt="crown" style="max-width: 25%; position: absolute; margin-top: -15%; margin-left: 32.5%;">
          {% endif %}
        <div class="thumbnail thumbnail-border fade">
          <a href="https://github.com/{{ member.username }}">
            <img alt="Profile Picture" class="img-circle" src="{{ member.avatar }}">
            <div class="caption">
              <h3>{{ member.name }}</h3>
              <p style="color: #2C3E50; font-size: 20px;">
                Repositories : {{ member.nRepos }}<br>
                Followers : {{ member.followers }}<br>
                Total commits : {{ member.totalCommits }} <br></p>
            </div>
          </a>    
        </div>
      </div> 
      {% endfor %}
  </div>
</div>
    
  </div><!-- end of wrap -->
  <footer class="footer">
  <div class="container text-center">
    <div class="row buffer-top">
      <div class="col-md-4">
        <h5>Join Us</h5>
        <p>
          Join us to build awesome stuff together.
          <a href="https://tiny.cc/joincodex">Subscribe</a>
        </p>
      </div>
        
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>Want to know about our community?</p>
        <p><a href="https://github.com/codex-iter">Contribute and Collaborate</a></p>
      </div>
        
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p>See a bug? Any complaints? Just want to send a note?
        <a href="mailto:codexiter@gmail.com">Let us know</a></p>
      </div>
    
    </div>
  </div>
</footer>
  


</body></html>
